@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/*---------------------------------
		Estilo Global
---------------------------------*/
* { margin: 0%; padding: 0%; font: 1em "Lexend", sans-serif; }
::-webkit-scrollbar {  width: 0%; height: 0%; }
:focus-visible { outline: none; }

/*---------------------------------
		HTML & Body
---------------------------------*/
html , body {
    width: 100%; 
    height: 100%;
    background: url(banner.png) no-repeat , black;
    background-size: cover;
    background-attachment: fixed; }
/*---------------------------------
		Main
---------------------------------*/
main {
    margin: auto;
    height: 100%;
    background: linear-gradient(to top, #00000070, #000000a6);
    color: white;
    padding: 0px 20px; }
/*---------------------------------
		H1 & H2
---------------------------------*/
h1 {
    padding: 20px 0px 0px;
    text-align: center;
    font-weight: 700;
    font-size: 50px; }

h2 {
	
    margin-top: -5px;
    font-weight: 500;
    text-align: center;
    color: #57b45b;
    font-size: 25px;}
/*---------------------------------
        Box
---------------------------------*/
div#box {
    max-width: 200px;
    margin: 30px auto;
    padding: 10px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
    border-right: dashed 1px white; }
/*---------------------------------
        Âncora
---------------------------------*/
a {
    font-size: 20px;
    text-decoration: none; 
    color: white; }

a:hover{ color: gold; }
