@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/*---------------------------------
		Estilo Global
---------------------------------*/
* { margin: 0%; padding: 0%; font: 1em "Lexend", sans-serif; }
::-webkit-scrollbar {  width: 0%; height: 0%; }
:focus-visible { outline: none; }

/*---------------------------------
		HTML & Body
---------------------------------*/
html , body {
    width: 100%; 
    height: 100%;
    background: url(banner.png) no-repeat , black;
    background-size: cover;
    background-attachment: fixed;
}
/*---------------------------------
		Main
---------------------------------*/
main {
    margin: auto;
    min-width: 360px;
    max-width: 300px;
    height: 100%;
    background-color: #000000b0;
    color: white;
    padding: 0px 20px;
}
/*---------------------------------
		H1 & H2
---------------------------------*/
h1 {
    padding: 20px 0px 0px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

h2 {
    text-align: center;
    color: #57b45b;
}

/*---------------------------------
        Fieldset
---------------------------------*/
fieldset {
    max-width: 200px;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;
    border-radius: 3px;
}
/*---------------------------------
        Legend
---------------------------------*/
legend {
    font-size: 18px;
    padding: 0px 5px;
}
/*---------------------------------
        Âncora
---------------------------------*/
a { text-decoration: none; color: white; }
a:hover{ color: #57b45b; }

/*---------------------------------
        Bloco Flutuante
---------------------------------*/
#blocoFlutuante {
    position: absolute;
    left: 30px;
    top: 50%;
    visibility: hidden;
    display: flex;
    gap: 20px;
    flex-flow: column;
    justify-content: center;
    vertical-align: middle;
    padding: 10px;
}

@media screen and (min-width: 550px) {
    #blocoFlutuante { visibility: visible; }
}